@model SendMoneyVM

<h1>Para Transfer Ekranı</h1>

<form method="post">
    <label>Gönderici Iban</label>
    <input type="text" asp-for="SenderID" class="form-control" />
    <br />
    <label>Alıcı Iban</label>
    <input type="text" asp-for="ReceiverID" class="form-control" />
    <br />
    <label>Miktar</label>
    <input type="text" asp-for="Amount" class="form-control" />
    <br />
    <button class="btn btn-warning">Gönder Gelsin</button>

    @{
        if(ViewBag.status!=null)
        @ViewBag.status
    }


</form>


